.MainGrid {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 100%;
    margin: 60px auto;
}

.box {
    background: var(--background);
    border: 1px solid var(--border);
}

.box:last-child {
    margin-bottom: 94px;
}

.suggestionBox {
    flex: 1;
    position: fixed;
    max-width: 293px;

}